

@import url('https://fonts.googleapis.com/css2?family=Anta&family=Dancing+Script:wght@400..700&display=swap');



.planetCard{
    width: 100%;
    height: auto;
    
    color: black;

    display: grid;
    grid-template-columns: repeat(auto-fit,250px);
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    background: pink;
    
}
.cards{
     
border:5px solid rgb(91, 13, 180);
padding: 5px;
border-radius: 10px; 
box-shadow: 5px 5px 5px yellow;
font-family: 'Dancing Script';
color: white;
background: black;
word-wrap: break-word;

}
.cards:hover{
    background: rgb(65, 65, 65);
    cursor: pointer;

}